---
const { title } = Astro.props;
import { kebabCase } from '../lib/utils';
const kebabTitle = kebabCase(title);
---

<post-accordion>
  <div class="wrapper">
    <h3>
      <button
        type="button"
        aria-expanded="false"
        aria-controls={kebabTitle}
        id={`${kebabTitle}-button`}
      >
        <span class="title">
          {title}
        </span>
        <img class="arrow" src="/arrow-down.svg" />
      </button>
    </h3>
    <div
      id={kebabTitle}
      role="region"
      aria-labelledby={`${kebabTitle}-button`}
      class="accordion-panel"
    >
      <slot />
    </div>
  </div>
</post-accordion>
<style>
  .wrapper {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 40px 0;
    transition: border 150ms ease-in-out;
  }

  .animated {
    transition: all 200ms ease-in-out;
  }

  .wrapper:hover,
  .wrapper.open {
    border: 3px solid rgb(255, 193, 113);
  }

  button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }

  h3 {
    margin: 0;
  }

  .accordion-panel {
    overflow: hidden;
    transition:
      height 200ms ease-in-out,
      opacity 100ms ease-in-out;
    padding: 15px 20px;
    padding-top: 0;
    opacity: 0;
  }

  .accordion-panel p {
    background: red;
  }

  .arrow {
    width: 20px;
    height: 20px;
    transition: all 120ms ease-in-out;
  }

  .open .accordion-panel {
    opacity: 1;
  }

  .open .arrow {
    transform: rotate(180deg);
  }
</style>
<script>
  class PostAccordion extends HTMLElement {
    isOpen: boolean;

    constructor() {
      super();
      this.isOpen = false;
    }

    connectedCallback() {
      const rootEl = this.querySelector<HTMLElement>('.wrapper');
      if (!rootEl) return;

      const buttonEl = this.querySelector<HTMLButtonElement>('button');
      const buttonHeight = buttonEl?.offsetHeight || 50;
      const setPanelHeight = (isOpen: boolean) =>
        (rootEl.style.height = isOpen ? `auto` : `${buttonHeight + 6}px`);

      setPanelHeight(this.isOpen);

      buttonEl?.addEventListener('click', () => {
        rootEl.classList.add('animated');

        if (this.isOpen) {
          rootEl.classList.remove('open');
          buttonEl.ariaExpanded = 'false';
        } else {
          rootEl.classList.add('open');
          buttonEl.ariaExpanded = 'true';
        }

        this.isOpen = !this.isOpen;
        setPanelHeight(this.isOpen);
      });
    }
  }

  customElements.define('post-accordion', PostAccordion);
</script>
