---
const STEPS_LENGHT = 8;
const STEPS_ARRAY = Array.from({ length: STEPS_LENGHT }, (_, i) => i + 1);
const INSTRUMENTS = ['kick', 'snare', 'hihats'];
---

<script>
  import { audioCtx, playHihats, playKick, playSnare } from '../lib/audio';

  type State = 'idle' | 'playing' | 'paused';
  type Instrument = 'kick' | 'snare' | 'hihat';

  const INTERVAL_TIME_IN_MS = 250; // 240 bpm

  const wrapper = document.querySelector('#wrapper');
  const instruments = (wrapper?.getAttribute('data-instruments')?.split(',') || []) as Instrument[];
  const stepsLength = Number(wrapper?.getAttribute('data-steps-length') || 8);
  const playToggle = document.querySelector('[data-play-toggle]');

  let state: State = 'idle';
  let currentStep = 0;
  let intervalId: NodeJS.Timeout;

  const highlightCurrentStep = (stepToHighlight: number) => {
    const allSteps = document.querySelectorAll('#steps th');
    [...allSteps].forEach(s => s.classList.remove('currentStep'));
    const activeStep = document.querySelector(`#steps th[data-step="${stepToHighlight}"]`);
    activeStep?.classList.add('currentStep');
  };

  const getInstrumentSteps = (instrument: Instrument) => {
    const instrumentSteps = [...document.querySelectorAll(`[data-${instrument}-step]`)].map(
      input => (input as HTMLInputElement).checked
    );
    return instrumentSteps;
  };

  const playCallback = () => {
    intervalId = setInterval(() => {
      if (currentStep >= stepsLength) {
        currentStep = 0;
      }

      const [kickSteps, snareSteps, hhSteps] = instruments.map(instr => getInstrumentSteps(instr));

      const time = audioCtx.currentTime * 1;
      if (kickSteps[currentStep]) {
        playKick(time);
      }
      if (snareSteps[currentStep]) {
        playSnare(time);
      }
      if (hhSteps[currentStep]) {
        playHihats(time);
      }

      currentStep++;

      highlightCurrentStep(currentStep);
    }, INTERVAL_TIME_IN_MS);
  };

  playToggle?.addEventListener('click', () => {
    if (['idle', 'paused'].includes(state)) {
      if (state === 'paused') {
        audioCtx.resume();
      }
      playToggle.innerHTML = 'Pause';
      state = 'playing';
      playCallback();
    } else {
      audioCtx.suspend();
      clearInterval(intervalId);
      playToggle.innerHTML = 'Play';
      state = 'paused';
    }
  });
</script>

<div id="wrapper" data-instruments={INSTRUMENTS} data-steps-length={STEPS_LENGHT}>
  <table>
    <thead id="steps">
      <tr>
        <td></td>
        {
          STEPS_ARRAY.map(step => (
            <th scope="col" data-step={step}>
              {step}
            </th>
          ))
        }
      </tr>
    </thead>
    <tbody>
      {
        INSTRUMENTS.map(instrument => (
          <tr id={instrument}>
            <td scope="row">{instrument}</td>
            {STEPS_ARRAY.map(step => {
              const attributes = {
                [`data-${instrument}-step`]: step,
                type: 'checkbox' as const,
              };
              return (
                <td>
                  <input {...attributes} />
                </td>
              );
            })}
          </tr>
        ))
      }
    </tbody>
  </table>
  <button data-play-toggle>Play</button>
</div>
<style>
  .wrapper {
    width: 100%;
    max-width: 600px;
    padding: 10px;
  }

  .currentStep {
    background: yellow;
  }
</style>
